doctype html
html(lang="en")
    head
       include partials/header
    body
        header.barra
            h1 UpTask - Administrador de proyectos 
            a(href="/") Inicio
            a(href="/cerrar-sesion") Cerrar sesion 

        main.contenedor 
            aside.contenedor-proyectos 
                .panel.crear-proyecto 
                    a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto 
                        span +
                .panel.lista-proyectos 
                    h2 Proyectos 

                    //-crear la lista de los elementos de proyecto
                    ul#proyectos.proyectos 
                        if proyectos.length 
                            each proyecto in proyectos    
                                li 
                                    a(href=`/proyectos/${proyecto.url}`) #{proyecto.nombre}

            //- block es lo propio que se va a ejecutar de cada archivo
            block contenido     
            //- pre= vardump(proyectos)   
        script(src="/dist/bundle.js")       
        