//- extends hereda todo lo del padre 
extends layout  

//- fragmento de codigo en el padre
block contenido
    .contenido-principal 
        h1 #{nombrePag} - #{proyecto.nombre}

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method='POST')
            .campo
                label(for="tarea") Tarea: 
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de la Tarea")
            .campo.enviar  
                input.boton.nueva-tarea(type="submit", value="Agregar")

        //-Acciones a realizar
        .contenedor-acciones
            a(href="/proyectos/editar/"+proyecto.id, class="boton") Editar Proyecto 
            button#eliminar-proyecto(data-proyecto-url= proyecto.url type="button" class="boton eliminar") Eliminar Proyecto 