doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Reestablecer Password 
        p Hola, has solicitado restablecer tu password de UpTaskNode, haz click en el enlace.
        a(href=`${resetUrl}`) Ir a cambiar contraseña.
        p Si no puedes ver el enlace visita #{resetUrl}
        p Si no solicitaste este servicio lo puedes ignorar